<div id="home" class="home">
  <div class="text-vcenter">
    <%= image_tag "mtcf-logo-648x243.png", class: 'mtcf-logo' %>
    <h1>Be the best version of yourself.</h1>
    <a href="/get-started.html" class="btn btn-lg btn-success">Get Started</a>
  </div>
</div>

<div id="schedule" class="pad-section">
  <div class="container">
    <h2>Schedule</h2>

    <div class="table-responsive">
      <table id="schedule-table">
        <thead>
          <tr>
            <th>Monday</th>
            <th>Tuesday</th>
            <th>Wednesday</th>
            <th>Thursday</th>
            <th>Friday</th>
            <th>Saturday @ CF Brownsburg</th>
            <th>Sunday</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <ul class="list-unstyled">
                <li>5:30am-6:30am</li>
                <li>5:30pm-6:30pm</li>
                <li>6:30pm-7:30pm</li>
              </ul>
            </td>
            <td>
              <ul class="list-unstyled">
                <li>9:30am-10:30am</li>
                <li>12:00pm-1:00pm</li>
                <li>5:30pm-6:30pm</li>
                <li>6:30pm-7:30pm</li>
              </ul>
            </td>
            <td>
              <ul class="list-unstyled">
                <li>5:30am-6:30am</li>
                <li>5:30pm-6:30pm</li>
                <li>6:30pm-7:30pm</li>
              </ul>
            </td>
            <td>
              <ul class="list-unstyled">
                <li>9:30am-10:30am</li>
                <li>5:30pm-6:30pm</li>
                <li>6:30pm-7:30pm</li>
              </ul>
            </td>
            <td>
              <ul class="list-unstyled">
                <li>5:30am-6:30am</li>
                <li>5:30pm-6:30pm</li>
              </ul>
            </td>
            <td>
              <ul class="list-unstyled">
                <li>9:00am-10:00am (CrossFit)</li>
                <li>10:00am-11:00am (Olympic Lifting)</li>
              </ul>
            </td>
            <td>
              <ul class="list-unstyled">
                <li>1:00pm-2:00pm (Yoga)</li>
              </ul>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>
</div>

<div id="facility" class="pad-section">

</div>

<div id="membership" class="pad-section">
  <div class="container">
    <div class="row">
      <h2>Membership</h2>
    </div>

    <div class="row">
      <div class="col-md-4">
        <div class="panel panel-success">
          <div class="panel-heading">
            <h3 class="text-center">1 YEAR UNLIMITED MEMBERSHIP</h3>
          </div>

          <div class="panel-body text-center">
            <p class="lead"><strong>$147 / month</strong></p>
          </div>

          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-success"></i>12 Month Commitment</li>
            <li class="list-group-item"><i class="icon-ok text-success"></i>Unlimited CrossFit Classes</li>
            <li class="list-group-item"><i class="icon-ok text-success"></i>Personal Attention</li>
            <li class="list-group-item"><i class="icon-ok text-success"></i>Expert Coaching</li>
          </ul>

          <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-success" href="/get-started.html">Start My Sucess Story!</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-warning">
          <div class="panel-heading">
            <h3 class="text-center">6 MONTH UNLIMITED MEMBERSHIP</h3>
          </div>

          <div class="panel-body text-center">
            <p class="lead"><strong>$157 / month</strong></p>
          </div>

          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-success"></i>6 Month Commitment</li>
            <li class="list-group-item"><i class="icon-ok text-warning"></i>Unlimited CrossFit Classes</li>
            <li class="list-group-item"><i class="icon-ok text-warning"></i>Personal Attention</li>
            <li class="list-group-item"><i class="icon-ok text-warning"></i>Expert Coaching</li>
          </ul>

          <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-success" href="/get-started.html">Start My Sucess Story!</a>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <div class="panel panel-info">
          <div class="panel-heading">
            <h3 class="text-center">MONTH TO MONTH UNLIMITED MEMBERSHIP</h3>
          </div>

          <div class="panel-body text-center">
            <p class="lead"><strong>$177 / month</strong></p>
          </div>

          <ul class="list-group list-group-flush text-center">
            <li class="list-group-item"><i class="icon-ok text-success"></i>No Commitment</li>
            <li class="list-group-item"><i class="icon-ok text-info"></i>Unlimited CrossFit Classes</li>
            <li class="list-group-item"><i class="icon-ok text-info"></i>Personal Attention</li>
            <li class="list-group-item"><i class="icon-ok text-info"></i>Expert Coaching</li>
          </ul>

          <div class="panel-footer">
            <a class="btn btn-lg btn-block btn-success" href="/get-started.html">Start My Sucess Story!</a>
          </div>
        </div>
      </div>
      
    </div>
  </div>
</div>

<div id="facility2" class="pad-section">
  
</div>

<div id="what-is-crossfit" class="pad-section">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="//www.youtube.com/embed/mlVrkiCoKkg?rel=0" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- google map -->
<div id="google_map"></div>
<!-- /google map -->

<div id="contact" class="pad-section text-center">
  <div class="container">
    <div class="row">
      <h2>Contact us!<br><a href="mailto:hello@monontrailcrossfit.com">hello@monontrailcrossfit.com</a></h2>
      
    </div>
  </div>
</div>