<section class="pad-section" id="thanks">
  <div class="text-vcenter">
    <h1>Confirm your email!</h1>

    <p>Check your email and click on the link to confirm your email address. We'll send your information once we know for sure it's you!</p>
  </div>
</section>